h1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    
}

name {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: bold;
    
}

img {
    display: flex;
    margin-right: auto;
    max-width: 3em;

}

.note{ /*individual message parent*/
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 249, 252);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 450px;
    border-radius: 6px;
    padding: 15px;
}

.bullshit{
    font-size: 10px;
}

.list{
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
   
}

.time{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: pink;
    font-size: .8rem;
}

